/* -----------------GLOBAL----------------- */
/* -----------------GLOBAL----------------- */

/* Переменные для псевдоэлементов */
:root {
  --nav-item-background-color: white;
}

body {
  font-size: 30px;
  font-weight: 300;
  font-family: "Open Sans", sans-serif;
  background: url(../img/images/header-background.png) center center / cover
    no-repeat;
}

.header {
  margin-bottom: 200px;
  transition: all 1s;
}

h1,
h2,
h3,
.logo,
.header__nav-inner,
.portfolio__grid-item p {
  font-family: "Baloo", sans-serif;
}

.container {
  height: 100%;
  width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

h1 {
  opacity: 90%;
  color: #212529;
  font-size: 110px;
  max-width: 650px;
}

h2 {
  opacity: 80%;
  font-size: 80px;
  color: #444444;
}

h3 {
  font-size: 50px;
  color: #695aa6;
}

.h2-uppercase {
  opacity: 80%;
  font-size: 35px;
  font-weight: 300;
  color: #444444;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.content-title {
  gap: 20px;
  display: flex;
  align-items: center;
  padding-bottom: 70px;
  flex-direction: column;
}

.logo {
  margin: auto auto;
  margin-left: 30px;
  transition: all 1s;
}

/* -----------------NAVIGATION--НАВИГАЦИЯ--------------- */
/* -----------------NAVIGATION--НАВИГАЦИЯ--------------- */

.header__nav {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  height: 50px;
  color: white;
  position: fixed;
  transition: all 0.5s;
  background-color: rgba(0, 0, 0, 0);
}

/* Добавляет класс при скролинге */
.fixed {
  background-color: rgba(255, 255, 255, 1);
}

.header__nav-inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: right;
}

.nav__list {
  gap: 50px;
  display: flex;
  margin-right: 30px;
  margin-bottom: 100px;
  align-items: center;
  transition: all 0.5s;
}

.hamburger {
  color: white;
  font-size: 45px;
  transition: all 1s;
  background-color: transparent;
  margin-right: 30px;
}

.hamburger:hover {
  scale: 1.1;
}

.nav__item {
  position: relative;
  transition: all 0.5s;
}

.nav__item:hover {
  position: relative;
  scale: 1.05;
}

/* Использование переменной для изменения цвета псевдоэлемента */
.nav__item::before {
  top: 30px;
  content: "";
  height: 2px;
  width: 23px;
  position: absolute;
  background-color: var(--nav-item-background-color);
  opacity: 0;
}

.nav__item:hover::before {
  transition: all 1s;
  opacity: 1;
  scale: 1.2;
}

/* ------------ИКОНОЧНОЕ МЕНЮ------------ */

.nav__item-icon {
  display: none;
}

.material-symbols-outlined.nav__link-icon {
  font-size: 40px;
  transition: all 1s;
}

.material-symbols-outlined.nav__link-icon:hover {
  scale: 1.1;
}

/* -----------------HEADER-CONTENT----------------- */
/* -----------------HEADER-CONTENT----------------- */

.header__content-inner {
  display: flex;
  padding-top: 25%;
  align-items: center;
  flex-direction: column;
}

.title {
  gap: 30px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.header__content-inner p {
  max-width: 550px;
}

.title__btn {
  width: 200px;
  height: 100%;
  padding: 10px;
  color: white;
  cursor: pointer;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  border-radius: 20px;
  background: #695aa6;
  border: 1px solid #695aa6;
}

/* -------------------MAIN--------------------- */
/* -------------------MAIN--------------------- */

/* ---------------SECTION--ABOUT--ОБО-МНЕ---------------- */
/* ---------------SECTION--ABOUT--ОБО-МНЕ---------------- */

.about {
  margin-bottom: 200px;
}

.about__inner {
  display: flex;
  align-items: center;
}

.about__inner-content {
  display: flex;
  flex-direction: column;
}

/* ---------------SECTION--PORTFOLIO--УСЛУГИ---------------- */
/* ---------------SECTION--PORTFOLIO--УСЛУГИ---------------- */

.portfolio__grid {
  gap: 30px;
  display: grid;
  grid-template: repeat(1, 1fr) / repeat(4, 1fr);
}

.portfolio__grid-item {
  display: flex;
  padding: 60px 0;
  border-radius: 4px;
  align-items: center;
  flex-direction: column;
  border: 1px solid #b7b1ce;
  height: 260px;
  transition: all 0.5s;
}

.portfolio__grid-item:hover {
  padding: 10px 0;
}

.grid__item-text {
  display: inline;
  text-align: center;
  font-size: 24px;
  max-width: 200px;
  transition: all 0.3s;
  scale: 0;
}

.portfolio__grid-item:hover .grid__item-text {
  display: inline;
  text-align: center;
  font-size: 24px;
  max-width: 200px;
  scale: 1;
}

.portfolio__grid-item img {
  width: 100px;
  height: 100px;
  transition: all 0.5s;
}

.portfolio__grid-item:hover img {
  width: 60px;
  height: 60px;
}

.portfolio__grid-item p {
  font-size: 24px;
  color: #695aa6;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.5s;
}

.portfolio__grid-item:hover p {
  margin-bottom: 30px;
}

/* ---------------SECTION--CONTACTS--КОНТАКТЫ---------------- */
/* ---------------SECTION--CONTACTS--КОНТАКТЫ---------------- */
.contacts {
  margin: 170px 0 70px 0;
}

.form__wrap {
  max-width: 800px;
  margin: 0 auto;
}

.contacts__form {
  gap: 20px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.contacts__form-box {
  gap: 20px;
  width: 100%;
  display: flex;
}

.form-input {
  width: 100%;
  height: 36px;
  display: block;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: rgba(0, 0, 0, 0.01);
}

.contacts__form-textarea {
  width: 100%;
  border-radius: 4px;
  border: 1px solid #ced4da;
  background: rgba(0, 0, 0, 0.01);
}

.contacts__form-button {
  width: 138px;
  height: 38px;
  border-radius: 4px;
  border: 1px solid #695aa6;
}

.contacts__overlay {
  position: fixed;
  z-index: -1;
  opacity: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.24);
  transition: all 0.5s;
}

.contacts__modal-windows {
  width: 250px;
  margin: 20% auto;
  background-color: rgb(231, 229, 229);
  padding: 30px 30px;
  text-align: center;
  border: 1px solid #948fa5;
}

.contacts_modal-btn {
  position: fixed;
  top: 1px;
  left: 100px;
  margin: 20% 50%;
  background-color: transparent;
}

.kwork-link {
  margin-top: 20px;
  font-size: 15px;
  line-height: 30px;
}

/* .kwork-link svg {
  margin-top: 10px;
} */

/* ---------------FOOTER------------------ */
/* ---------------FOOTER------------------ */

.footer__inner-line {
  width: 100%;
  height: 5px;
  background-color: #695aa6;
  border-radius: 50%;
}

.footer__inner-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.contacts__form-textarea {
  resize: none;
}

.logo-footer {
  color: #695aa6;
}

/* ---------------------MEDIA------------------- */
/* ---------------------MEDIA------------------- */

/* -----------PC---------- */

@media (max-width: 1170px) {
  .container {
    width: 991.98px;
  }

  .header__content-inner {
    padding-top: 30%;
  }

  
  .nav__list {
    gap: 30px;
  }
}

/* -----------TABLET---------- */

@media (max-width: 991.98px) {
  .container {
    width: 767.98px;
  }
  
  .header__content-inner {
    padding-top: 39%;
  }

  .about__inner-image {
    display: none;
  }

  .header__nav-inner {
    margin-left: 30px;
  }

  .logo {
    padding-right: 10px;
    margin-right: 30px;
  }

  .nav__list {
    gap: 10px;
  }

  .portfolio__grid {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }

  .portfolio__grid-item {
    padding: 10px 0;
  }
  
  .grid__item-text {
    display: inline;
    text-align: center;
    font-size: 20px;
    max-width: 200px;
    scale: 1;
    padding: 10px 4px 0 4px;
  }
}

/* -----------TABLET---------- */

@media (max-width: 767.98px) {
  .container {
    width: 539.98px;
  }
  
  .logo {
    margin-right: auto;
    margin-left: 0;
  }
  
  .portfolio__grid {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
  
  .nav__item {
    display: none;
  }
  
  .nav__item-icon {
    display: inline-block;
  }
  
  .header__content-inner {
    padding-top: 50%;
  }
  
  .title {
    gap: 20px;
  }
  
  .title h2 {
    font-size: 70px;
  }

  .title h1 {
    font-size: 90px;
  }
  
  .title p {
    font-size: 30px;
  }
}

/* -----------MOBILE---------- */

@media (max-width: 539.98px) {
  .container {
    width: 374.98px;
  }
  
  .logo {
    padding-right: 25px;
  }
  
  .portfolio__grid {
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
  }
  
  .nav__list {
    gap: 10px;
  }
  
  .nav__item {
    display: none;
  }
  
  .nav__item-icon {
    display: inline-block;
  }
  
  .header__content-inner {
    padding-top: 60%;
  }
  
  .title {
    gap: 20px;
  }
  
  .title h2 {
    font-size: 50px;
  }
  
  .title h1 {
    font-size: 60px;
  }
  
  .title p {
    font-size: 30px;
  }
}


/* -----------MOBILE---------- */

@media (max-width: 374.98px) {
  .container {
    width: 375px;
  }
  
  .logo {
    padding-right: 25px;
  }
  
  .nav__list {
    gap: 10px;
  }
  
  .nav__item {
    display: none;
  }
  
  .nav__item-icon {
    display: inline-block;
  }
  
  .header__content-inner {
    padding-top: 60%;
  }
  
  .title {
    gap: 20px;
  }
  
  .title h2 {
    font-size: 50px;
  }
  
  .title h1 {
    font-size: 60px;
  }
  
  .title p {
    font-size: 30px;
  }
}